
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <img src="~/Views/Home/th2/src/hinh01.jpg" />
    <img src="~/Views/Home/th2/src/hinh02.jpg" />
</body>
</html>
