
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>home</title>
</head>
<body>
    <a href="~/Views/Home/th2/src/sub/intro.cshtml">~/Views/Home/th2/src/sub/intro.cshtml</a>
    <a href="~/Views/Home/th2/src/sub/sale.cshtml">~/Views/Home/th2/src/sub/sale.cshtml</a>
    <a href="~/Views/Home/th2/src/New.cshtml">~/Views/Home/th2/src/New.cshtml</a>
    <a href="~/Views/Home/th2/Contact.cshtml">~/Views/Home/th2/Contact.cshtml</a>
    <a href="~/Views/Home/th2/product.cshtml">~/Views/Home/th2/product.cshtml</a>
</body>
</html>
