
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New</title>
</head>
<body>
    
        <a href="~/Views/Home/th2/src/New.cshtml">~/Views/Home/th2/src/New.cshtml</a>
        <img src="~/Views/Home/th2/src/hinh01.jpg" />
        <img src="~/Views/Home/th2/src/hinh02.jpg" />
        <a href="~/Views/Home/th2/src/sub/intro.cshtml"><img />~/Views/Home/th2/src/hinh01.jpg</a>
        <a href="~/Views/Home/th2/src/sub/intro.cshtml"><img />~/Views/Home/th2/src/hinh02.jpg</a>

    
</body>
</html>
