
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/masterLayout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ponto  
        Pet
    </title>
    <link href="~/Content/StyleLayout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <a href="#">Ponto Pet</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </nav>

    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>The Best Pet Groomers in Town</h1>
            <p>For a pawfect look and feel</p>
            <button>Let's Chat!</button>
        </div>
        <img src="your-image.jpg" alt="Pet image">
    </section>

    <script src="script.js"></script>
</body>
</html>
