@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/index.css" rel="stylesheet" />
<main>
    <section class="wrapper">
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
    </section>

    <div class="heading">
        <h1>Welcome To My Website</h1>
        <p>Giới thiệu động vật</p>
    </div>
    <div class="log">
        <button id="sign_in">
            Sign In
        </button> 
        <button id="sign_up">
            Sign Up
        </button>
        
    </div>

</main>