
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="Lập trình Web cơ bản" content="Thông tin bão lũ sau bão số 3" />
    <title>bai1_lab01a</title>
</head>
<body>
    <h1>
        Sạt lở ở Bắc Hà 5 người chết, 13 người mất tích
    </h1>
    <h3>
        <p>
            Lào Cai - Vụ sạt lở xảy ra vào ngày 10/9, tuy nhiên mất liên lạc với bên ngoài nên chiều nay thông tin vụ việc mới được công bố.
        </p>
        <p>
            Tối 11/9, ông Vũ Xuân Cường, Chủ tịch HĐND tỉnh Lào Cai cho biết vừa từ hiện trường vụ sạt lở ở xóm Bản Cái, thôn Nậm Tông, xã Nậm Lúc, huyện Bắc Hà trở ra. Do mất hoàn toàn liên lạc nên nay đến hiện trường mới xác định được vụ sạt lở vùi lấp hoàn toàn 15 hộ, 80 nhân khẩu đồng bào dân tộc Mông, xảy ra vào 13h30 ngày 10/9
        </p>
        <p>
            Xã Nậm Lúc đã huy động lực lượng tại chỗ để tổ chức tìm kiếm, cứu nạn. Tuy nhiên, bản ở núi cao, tỉnh lộ 160 sạt lớn, chia cắt đường làm đôi, không thể huy động máy móc nên việc tìm kiếm cứu nạn gặp nhiều khó khăn.
        </p>
        <img src="~/Content/img/saclo.jpg" />
        <p>
            Chiều nay, khi ông Cường trở về thì đã tìm thấy 5 thi thể, xác định 13 người mất tích và 11 người bị thương. Trong đó, 5 người bị thương nặng được cấp cứu tại Bệnh viện Đa khoa Bắc Hà.
        </p>
        <p>
            "Đường vào xã tôi phải đi mất khoảng bốn tiếng gồm một đoạn đi thuyền trên sông Chảy và hầu hết đi đường rừng mới tới được hiện trường", ông Cường nói.
        </p>
        <p>
            Cũng tại thôn này, hôm qua đất đá làm sập nhà điều hành thủy điện Đông Nam Á - Nậm Lúc làm một người chết, 5 người mất tích.
        </p>
        <p>
            Tính đến 17h hôm nay, Lào Cai là tỉnh thiệt hại nặng nhất về người sau bão Yagi với 72 người chết, 111 người mất tích. Vụ việc nghiêm trọng nhất là lũ quét vào Làng Nủ, xã Phúc Khánh, huyện Bảo Yên làm 35 người chết, 60 người mất tích, 17 người bị thương và thoát nạn 46 người.
        </p>
    </h3>
</body>
</html>
