
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bai2_lab01a</title>
</head>
<body>
    <ul>
        <li>
            (6x<sup>3</sup>+5<sup>2</sup>x<sup>4</sup>)+5=0
        </li>
        <li>
            Axit Sulfuric: H<sub>2</sub>SO<sub>4</sub>
        </li>
    </ul>
</body>
</html>
