
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bai3</title>
</head>
<body>
    <table border="1" align="center" width="50" cellpadding="5" cellspacing="5">
        <tr>
            <td><b>1</b></td>
            <td colspan="3" align="center"><b>2&nbsp;&nbsp;3&nbsp;&nbsp;4</b></td>
            <td><b>5</b></td>
        </tr>
        <tr>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
        <tr>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
        </tr>
        <tr>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
        </tr>
        <tr>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
        </tr>
    </table>
</body>
</html>
