
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>bai3_lap01b</title>
</head>
<body>
    <table border="1" width="880" cellpadding="7">
        <tr>
            <td colspan="5" width="35%">Thông tin sinh viên</td>
        </tr>
        <tr>
            <td rowspan="4" align="center">
                <img src="~/Content/img/loopy.jpg" width="240" />
            </td>
            <td>Họ và Tên</td>
            <td colspan="3"><b>Đỗ Minh Vĩ Khang</b></td>
        </tr>
        <tr>
            <td>MÃ SỐ SINH VIÊN</td>
            <td><b>23DH114848</b></td>
            <td>GIỚI TÍNH </td>
            <td><b>NAM</b></td>
        </tr>
        <tr>
            <td>EMAIL</td>
            <td><b>dokhangk2005@gmail.com</b></td>
            <td>SỐ ĐIỆN THOẠI</td>
            <td><b>0983219xxx</b></td>
        </tr>
        <tr>
            <td>SỞ THÍCH</td>
            <td colspan="4"><b>Đua xe trên Xa Lộ Hà Nội</b></td>
            
        </tr>
    </table>
</body>
</html>
