
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bai4_lab01b</title>
</head>
<body>
    <table border="1">
        <tr>
            <td rowspan="12" style="color:white;background-color:lightgray" width="25%"><center>Học web chuẩn</center></td>
        </tr>
        <tr>
            <th colspan="3">VESTIVULUM ULLAMCORPER UT LEO QUIS<br /><br /></th>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp; Aenean facilisis lectus ante,ut rutrum eros convallis et.
                <br />&nbsp;&nbsp;&nbsp;&nbsp; Vestibulum ullamcorper ut leo quis tristique. Donec in erat commodo,pharetra purus ac,
                <br />&nbsp;&nbsp;&nbsp;&nbsp; consectetur lacus.Suspendisse odio sapien, egestas at ex sit amet,molestie sagittis est.<br /><br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp; In id purus imperdiet nisl accumsan scelerisque. Donec nec justi sed enim dapibus
                <br />&nbsp;&nbsp;&nbsp;&nbsp; rhoncus.Morbi sed elit vitae metus ullamcorper efficitur.<br /><br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp; Fusce aliquam magna id ipsum ultricies interdum. Maecenas nibh risus.
                <br />
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>DETAIL</button>
                <br />
            </td>

        </tr>
      

    </table>
</body>
</html>
